@import 'reset.css';
@import 'basic.css';
@import 'responsive.css';

@font-face {
font-family: 'Pangram Medium';
src: url("../fonts/PPPangramSans-Medium.otf");
}

@font-face {
font-family: 'Pangram Semibold';
src: url("../fonts/PPPangramSans-Semibold.otf");
}

@font-face {
font-family: 'Pangram Bold';
src: url("../fonts/PPPangramSans-Bold.otf");
}
